body{
  font-family: "Lucida Console", Monaco, monospace
}

.left{
  width: 65%;
  float: left;
  padding-left: 5%;
  padding-right: 5%;
  border-right: solid red;
  border-width: 2px;
}

.right{
  width: 20%;
  float:right;
  padding-left: 4%;
}

.index{
  width: 50%;
  padding-right: 25%;
  float: right;
}

.alt_header{
  text-align: center;
}

.profile{
  padding-left: 15%;
  float: left;
}

.header{}

.footer{
  clear: both;
  text-align: center;
  padding-top: 10px;
}

#profile{
  width: 100px;
  height: 100px;
  align: right;
}

#signature{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*
a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: white;
    color: red;
}
*/
