/******************************
Author: John Casey
Selectors listed alphabetically, grouped first by element, then by class, and
finally by id.
******************************/
/*Selectors*/
body{
  font-family: "Lucida Console", Monaco, monospace
}

iframe{
  width: auto;
  height: auto;
}

textarea{
  resize: none;
  width: 65%;
}

/*Classes*/
.blog{
  width: 75%;
  padding-left: 12.5%;
}

.classes{
  width: 75%;
  padding-left: 12.5%;
}

.email{
  width: 40%;
  padding-left: 10%;
  float: left;
}

.footer{
  clear: both;
  text-align: center;
  padding-top: 10px;
}

.header{
  text-align: center;
}

.index{
  width: 50%;
  padding-right: 25%;
  float: right;
}

/*index_link class*/
a.index_link:link, a.index_link:visited{
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.index_link:hover, a.index_link:active{
    background-color: white;
    color: red;
}

.left{
  width: 65%;
  float: left;
  padding-left: 5%;
  padding-right: 5%;
  border-right: solid red;
  border-width: 2px;
}

.profile{
  padding-left: 15%;
  float: left;
}

.projects{
  width: 75%;
  padding-left: 12.5%;
}

.right{
  width: 20%;
  float:right;
  padding-left: 4%;
}

.video{
  height: 385px;
  width: 640px;
}

/*ids*/
#googleMap{
  width: 500px;
  height: 380px;
  width: 40%;
  float: right;
  margin-right: 10%;
  margin-top: 10%;
}

#profile{
  width: 100px;
  height: 100px;
  align: right;
  border-radius: 15%;
}

#title{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
